In [9]:
import json

data_directory = 'Data 4999/BAC@MC 2024 Phase One Datasets/'

with open(f'{data_directory}data-dictionary.json', 'r') as file:
   data_dictionary = json.load(file)

In [10]:
def add_zero(prov_id):

    if len(prov_id) < 6:
        return '0' + prov_id
    
    return prov_id

In [11]:
def clean_rows(dataframe, folder_name):
    """
    Clean DataFrame rows to remove observations where there are mostly NULL values.

    Parameters:
        dataframe (pandas.DataFrame): The DataFrame with rows to be cleand.
        folder_name (str): The name of the folder which indicates what columns will be in this DataFrame.
        
    Returns:
        pandas.DataFrame: DataFrame with cleaned rows.
    """
    df = dataframe

    match folder_name:

        case 'CostReports':
            # Drop rows where both fiscal_start and loc_type are NA
            df = df.dropna(subset=['fiscal_start', 'loc_type'], how='all')
            
        case 'CovidVax':
            # Drop rows where any observation in column 'pct_residents_primary_vax' is equal to 'not_available'
            df = df[df['pct_residents_primary_vax'] != 'not available']

        case 'HealthDeficiencies':
            # Filter rows where the observation in column B has a length of 1
            defstat_index = df.columns.get_loc('defstat')
            mask = df['defstat'].str.len() == 1
            
            # Create a list of columns to shift
            columns_to_shift = df.columns[defstat_index+1:].tolist()

            # Convert values to object dtype before assigning them
            shifted_values = df.loc[mask, columns_to_shift[1:]].astype(int).values

            # Shift observations 1 to the left for rows where condition is met
            df.loc[mask, columns_to_shift[:-1]] = shifted_values

            # Drop the last column for rows where condition is met
            df.loc[mask, columns_to_shift[-1]] = None

    return df

In [12]:
import re

def clean_dataframe(dataframe, folder_name):
    """
    Clean column names of a DataFrame using a lookup dictionary with regex patterns.
    
    Parameters:
        dataframe (pandas.DataFrame): The DataFrame with column names to be cleaned.
        folder_name (str): The name of the folder which is being concatenated in the extract_transform function
        
    
    Returns:
        pandas.DataFrame: DataFrame with cleaned column names.
    """
    # Iterate over each column name
    for column_name in dataframe.columns:
        # Iterate over each regex pattern in the lookup dictionary
        for replacement, pattern in data_dictionary[folder_name].items():
            

            # If the regex pattern matches the column name
            if re.search(pattern, column_name.lower().strip()):

                # Replace the column name with the replacement string
                dataframe.rename(columns={column_name: replacement}, inplace=True)

                break
        
        else:

            # Rename columns to drop for items not in the data dictionary
            dataframe.rename(columns={column_name: 'DROPCOLUMN'}, inplace=True)

    # Replace column names for 2021 CovidVax
    if folder_name == 'CovidVax':
        current_names = ['residents_2021','staff_2021']
        new_names = ['pct_residents_primary_vax', 'pct_staff_primary_vax']
    
        for current_name, new_name in zip(current_names, new_names):
            if current_name in dataframe.columns:
                dataframe = dataframe.rename(columns={current_name: new_name})

    # Drop columns with all NaN values
    df = dataframe.dropna(axis=1, how='all')

    # Clean rows
    df = clean_rows(df, folder_name)

    # Apply zeros for prov_id with less than 6 characters
    df['prov_id'] = df['prov_id'].astype(str).apply(add_zero)

    # Drop marked columns
    df = df.drop(columns=[col for col in df.columns if col == 'DROPCOLUMN'])
    
    return df

In [13]:
import os
import pandas as pd

def extract_transform(folder_path):
    """
    Read folder contents for subdirectories containing .csv files. Read files ,csv into pandas DataFrames and then concatenate into master DataFrame by directory.
    
    Parameters:
        folder_path (str): Path to directory containing sub directories with .csv files
    
    Returns:
        List: List of pandas DataFrames stacked by directory
    """
    #Initialize an empty dict to store the DataFrames
    joined_dfs = {}

    # Iterate over all folders in the directory
    for folder_name in os.listdir(folder_path):
        folder_full_path = os.path.join(folder_path, folder_name)
        

        #Check if the current item in directory is a folder
        if os.path.isdir(folder_full_path):
            # Initialize empty list to store DataFrames
            dfs = []

            # Iterate over every each CSV file in the folder
            for file_name in os.listdir(folder_full_path):
                
                if file_name.endswith('.csv') :
                    file_full_path = os.path.join(folder_full_path, file_name)

                    # Read the CSV file into a DataFrame, use latin1 encoding
                    df = pd.read_csv(file_full_path, encoding= 'latin1', low_memory= False)

                    # Rename columns using clean columns function
                    df = clean_dataframe(df, folder_name)
                    
                    # Append the DataFrame to the list
                    dfs.append(df)       

            # Stack all the dfs and convert strings to lowercase
            folder_df = pd.concat(dfs, ignore_index= False).map(lambda x: x.lower() if isinstance(x, str) else x).reset_index()

            # Store all folder_dfs in a dict
            joined_dfs[folder_name] = folder_df
    
    return joined_dfs

In [14]:
def upload_dataframe_to_mysql(df, table_name, engine, chunk_size= 50000):
    try:
        # Drop the 'index' column if it exists
        df = df.drop(columns=['index'])
    except KeyError:
        pass  # 'index' column does not exist, continue without dropping

    # Calculate number of chunks
    num_chunks = len(df) // chunk_size + (1 if len(df) % chunk_size > 0 else 0)

    for i in range(num_chunks):
        start_idx = i * chunk_size
        end_idx = min((i + 1) * chunk_size, len(df))
        df_chunk = df.iloc[start_idx:end_idx]

        try:
            # Upload chunk to MySQL table
            df_chunk.to_sql(table_name, con=engine, if_exists='append', index=False)
            print(f'Chunk {i+1}/{num_chunks} uploaded successfully to MySQL table: {table_name}')
        except Exception as e:
            print(f'Error uploading chunk {i+1}/{num_chunks} to MySQL table: {e}')

In [15]:
import mysql.connector
from sqlalchemy import create_engine

# MySQL connection parameters
host= 'localhost'
user= 'josh'
password= 'go$T4GS'
database= 'data_4999'

# Create MySQL connection
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

# Trans
joined_dfs = extract_transform(data_directory)

# Iterate over the dictionary of DataFrames and upload each DataFrame to MySQL
for table_name, df in joined_dfs.items():
    upload_dataframe_to_mysql(df, table_name, engine)

# Close the connection
engine.dispose()

Chunk 1/2 uploaded successfully to MySQL table: Penalties
Chunk 2/2 uploaded successfully to MySQL table: Penalties
Chunk 1/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 2/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 3/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 4/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 5/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 6/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 7/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 8/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 9/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 10/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 11/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 12/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 13/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 14/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 15/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 16/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 17/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 18/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 19/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 20/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 21/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 22/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 23/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 24/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 25/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 26/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 27/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 28/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 29/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 30/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 31/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 32/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 33/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 34/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 35/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 36/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 37/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 38/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 39/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 40/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 41/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 42/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 43/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 44/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 45/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 46/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 47/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 48/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 49/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 50/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 51/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 52/52 uploaded successfully to MySQL table: HealthDeficiencies
Chunk 1/3 uploaded successfully to MySQL table: ProviderInfo
Chunk 2/3 uploaded successfully to MySQL table: ProviderInfo
Chunk 3/3 uploaded successfully to MySQL table: ProviderInfo
Chunk 1/3 uploaded successfully to MySQL table: CostReports
Chunk 2/3 uploaded successfully to MySQL table: CostReports
Chunk 3/3 uploaded successfully to MySQL table: CostReports
Chunk 1/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 2/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 3/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 4/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 5/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 6/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 7/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 8/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 9/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 10/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 11/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 12/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 13/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 14/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 15/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 16/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 17/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 18/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 19/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 20/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 21/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 22/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 23/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 24/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 25/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 26/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 27/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 28/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 29/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 30/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 31/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 32/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 33/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 34/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 35/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 36/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 37/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 38/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 39/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 40/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 41/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 42/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 43/43 uploaded successfully to MySQL table: QualityMsrMDS
Chunk 1/1 uploaded successfully to MySQL table: CovidVax